* {
  background-color: pink;
  --border: black;
  --background-color: white;
}

.container {
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.sub-container {
  display: grid;
  margin-top: 10px;
  height: 500px;
  width: 500px;
  border: 2px solid var(--border);
}

.cell {
  border: 2px solid var(--border);
  background-color: var(--background-color);
}

.btn {
  justify-self: center;
  font-size: 25px;
  margin: 5px;
  color: black;
  width: 50%;
  background-color: yellow;
  text-align: center;
  border: 2px solid white;
}
